@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body {
  height: 100%;
  background: #584747; /* very dark gray background */
  color: #f3f3f3; /* light gray text */
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Customize inputs */
input {
  background-color: #352222;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #000000; /* Tailwind blue-500 */
  box-shadow: 0 0 0 3px rgb(49, 30, 30);
}

/* Links */
a {
  color: #fafafa;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
}

/* Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #624f4d;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
  border: 2px solid #121212;
}